@using WebApplicationSections.Models
@using WebApplicationSections.LanguageExtensions

@{
    /*
     * Note that Model is not strong types as presented,
     * we need to cast to a list of Contacts.
     */
    List<Contacts> contactsList = Model;
    
    

    @foreach (var contact in contactsList.Take(5).OrderBy(x => x.LastName))
    {
        <div class="row">

            <div class="col-2">@contact.ContactId</div>

            @if (contact.ContactTypeNavigation.ContactTitle == "Owner")
            {
                <div class="col-3 text-danger fw-bold">@contact.ContactTypeNavigation.ContactTitle</div>
            }
            else
            {
                <div class="col-3">@contact.ContactTypeNavigation.ContactTitle</div>
            }

            <div class="col-3">@contact.FirstName</div>
            <div class="col-3">@contact.LastName</div>

        </div>

    }

    DataContainer container = (DataContainer)ViewData[nameof(DataContainer)];

    /*
     *  If personName is not null write the value of personName to a
     *  row below the list of contacts
     */
    if (container is {})
    {
        <div class="row  border-success border-top">
            <div class="col-5"></div>
            <div class="col-3 text-dark fw-bold">@container.FirstName</div>
            <div class="col-3 text-dark fw-bold">@container.LastName</div>
        </div>   
        <div class="row">
            <div class="col-5"></div>
            <div class="col-3 text-info fw-bold">@container.SubContainer.Active.ToYesNo()</div>
            <div class="col-3 text-info fw-bold">@string.Join(",",@container.SubContainer.Items)</div>
        </div>   
    }
}
