@using WebApplicationSections.Models

@{
    List<Contacts> list = Model;
    
    @foreach (var contact in list.Take(10).OrderBy(x => x.LastName))
    {
        <div class="row border border-dark border-opacity-10 bg-info bg-opacity-10">

            <div class="col-2">@contact.ContactId</div>

            @if (@contact.ContactTypeNavigation.ContactTitle == "Owner")
            {
                <div class="col-3 text-danger fw-bold">@contact.ContactTypeNavigation.ContactTitle</div>
            }
            else
            {
                <div class="col-3">@contact.ContactTypeNavigation.ContactTitle</div>
            }

            <div class="col-3">@contact.FirstName</div>
            <div class="col-3">@contact.LastName</div>

        </div>

    }



}
