@using WebApplicationSections.Models

@{
    List<Contacts> contactsList = Model;
    
    var personName = ViewData["Name"];
    @foreach (var contact in contactsList.Take(5).OrderBy(x => x.LastName))
    {
        <div class="row">

            <div class="col-2">@contact.ContactId</div>

            @if (contact.ContactTypeNavigation.ContactTitle == "Owner")
            {
                <div class="col-3 text-danger fw-bold">@contact.ContactTypeNavigation.ContactTitle</div>
            }
            else
            {
                <div class="col-3">@contact.ContactTypeNavigation.ContactTitle</div>
            }

            <div class="col-3">@contact.FirstName</div>
            <div class="col-3">@contact.LastName</div>

        </div>

    }

    if (personName is {})
    {
        <div class="row">
            <div class="col-8"></div><div class="col-3 text-dark fw-bold">@personName</div>
        </div>   
    }

}
